{% extends 'layout.html' %}
{% block title %}豆影-关于{% endblock %}
{% block content %}
<div class='container'>
	<div class='row'>
		<div class="panel panel-default myPanel">
			<div class="panel-heading">
    				<h2 class="panel-title">关于ヾ(´∀`o)+</h2>
 			</div>
  			<div class="panel-body">
    				<p><b>关于本站</b>  这是一个完全基于互联网分享资源的站点，感谢开放的网络带来如此丰富的资源。这个站点分享了豆瓣电影综合评分最高的250部电影（更新于2015年5月28日）的种子，种子的资源大多数来自于各大云平台上已有的内容，有少数几部是我人工在BT天堂收集的。本站后台使用Flask进行快速开发，前端采用了Bootstrap框架︿(￣︶￣)︿前端渣你懂的～</p>
    				<br>
    				<p><b>关于字幕</b>  由于精力有限，大多数种子我都没有查看其是否有字幕，如果没有字幕，你可以到<a href="http://sub.makedie.me/">字幕站</a>进行搜索。</p>
    				<br>
    				<p><b>关于版权</b>  正如你在首页看到的那样，本站并没有得到任何授权，如果你认为本站对你的权利有任何形式的侵犯，<del>你来打我啊</del>，咳咳，请联系我</p>
    				<div class='socialinks'>
    					<a href="http://weibo.com/jasondyq" class='socialink'><i class="iconfont" id='weibo'>&#xe66e;</i>  微博</a>
    					<a href="http://twitter.com/jasondyq" class='socialink'><i class="iconfont" id='twitter'>&#xf000e;</i>  Twitter</a>
    				</div>
  			</div>
		</div>
	</div>
</div>
{% endblock %}